@mixin offbtn{
  	background-color: rgba(#C4C4C4, 0.5);
	border: 1px solid rgba(#8B8B8B,0.75);
	color: rgba(#8B8B8B,0.75);  
}
@mixin activebtn{
	color: #fff;  
}
@mixin animate($name, $dur, $delay, $iter, $timing){
	-webkit-animation-timing-function: $timing;
		animation-timing-function: $timing;	
	-webkit-animation-delay: $delay;
		animation-delay: $delay;
	-webkit-animation-duration: $dur;
		animation-duration: $dur;
	-webkit-animation-iteration-count: $iter;
		animation-iteration-count: $iter;
	-webkit-animation-name: $name;
		animation-name: $name;
}
/* ANIMATIONS */
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}
@-moz-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}
@keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}
@-webkit-keyframes grower {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}
@-moz-keyframes grower {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}
@keyframes grower {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.1;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.1;}
}


@-webkit-keyframes slidetop {
	0%{left:0;opacity:1;}
	100%{left:-100%;opacity:0;}
}
@-moz-keyframes slidetop {
	0%{left:0;opacity:1;}
	100%{left:-100%;opacity:0;}
}
@keyframes slidetop {
	0%{left:0;opacity:1;}
	100%{left:-100%;opacity:0;}
}

@-webkit-keyframes slidebottom {
	0%{left:100%;opacity:0;}
	100%{left:0%;opacity:1;}
}
@-moz-keyframes slidebottom {
	0%{left:100%;opacity:0;}
	100%{left:0%;opacity:1;}
}
@keyframes slidebottom {
	0%{left:100%;opacity:0;}
	100%{left:0%;opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}