/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "_leaflet";
@import "_mixins";

@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
$green : #1EA462;
$pink : #C81A75;
$mass : #eaad48;
$home : #484848;
$rb : 'robotoblack','sans-serif';

html, body {
	font-family: 'Roboto','sans-serif';
	height: 100vh;
	margin: 0;
	max-width: 100%;
	min-height: 520px;
	overflow: scroll;
	padding: 0;
	@media all and (min-width: 768px){
		min-height: 768px;
	}	
}
body{
	@media all and (max-width: 768px){
		&:before{
			content: '';
			display: block;
			height: 100vh;
			position: fixed;
			right: 0;
			top: 0;
			width: 50px;
			z-index: 9999;
		}
	}
}
*{
	box-sizing: border-box;
	// max-width: 100%;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    padding: 5px 10px;
    z-index: 9999;
    &.active{
    	z-index: 10000;
    	article{
			opacity: 1;
			pointer-events: initial;
		    z-index: 1;    		
    	}
    	#why{
    		z-index: 2;
    	}
    }
    section{
    	display: inline-block;
    	vertical-align: middle;
    	#why{
    		color: #fff;
    		cursor: pointer;
    		display: inline-block;
    		font-weight: 100;
    		letter-spacing: 1px;
    		line-height: 1.25;
    		position: relative;
    		text-decoration: underline;
    	}
    	.contain{
    		display: inline-block;
    		max-height: 95vh;
    		max-width: 1000px;
    		overflow-y: scroll;
    		vertical-align: middle;
    		width: 80%;
    	}
    	article{
    		background-color: rgba(0,0,0,0.85);
    		bottom: 0;
    		color: #fff;
    		left: 0;
    		opacity: 0;
    		pointer-events: none;
    		position: fixed;
    		right: 0;
    		text-align: center;
    		top: 0;
    		z-index: -1;
    		&:before{
    			content: '';
    			display: inline-block;
    			height: 100vh;
    			vertical-align: middle;
    			width: 1%;
    		}
    		h3{
    			color: $pink;
    			font-size: 18px;
    			letter-spacing: 2px;
    			text-transform: uppercase;
    			padding-bottom: 20px;
    		}
    		p{
    			font-weight: 100;
    			letter-spacing: 1px;
    			padding-bottom: 15px;
    		}
    	}
    }
}
#opot-logo{
	    display: inline-block;
	    height: 30px;  
	    width: 100px;
	    vertical-align: middle;
	&:hover{
		path{
			stroke: #fff;
			stroke-width: 2;
			@include transition(stroke 0.2s, stroke-width 0.2s);
		}
	}
	path {
		stroke: rgba(250,250,250,0);
		stroke-width: 0;
		@include transition(stroke 0.2s, stroke-width 0.2s);
		// &.highlight{
		// 	stroke: rgba(#6B083F, 0.1);
		// 	stroke-width: 5;
		// 	stroke-dasharray: 5000;
		// 	stroke-dashoffset: 0;	
		// 	@include animate(logoTransitiion, 3.5s, 0.5s, infinite, linear);
		// }
	}
	.q0,.q1,.q2,.q3,.q4,.q5,.q6{
	  transition: fill 1s;
	}
	.q0 {
	  fill: #6B083F;
	}
	.q1 {
	  fill: #DC177A;
	}
	.q2 {
	  fill: #D01160;
	}
	.q3 {
	  fill: #9B0B4D;
	}
	.q4 {
	  fill: #C20F5C;
	}
	.q5 {
	  fill: #7D0A44;
	}
	.q6 {
	  fill: #df167a;
	}
	#backnum{
		path{
			fill: #63213F;
			@include transition(fill 0.75s);
		}
		.bright{
			fill: #FF85BD;
			@include transition(fill 0.75s);
		}
	}
}
.slide{
	height:100vh;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
	@include animate(slidetop, 0.35s, 0, 1, linear);
	&.active{
		opacity: 1;
		z-index: 1;
		@include animate(slidebottom, 0.35s, 0, 1, linear);
	}
}
.d3-tip{
	background-color: rgba(34, 34, 34, 0.9);
	border-radius: 6px;
	display: inline-block;
	margin-top: -15px;
	padding: 0 0 15px;
	text-align: center;
	z-index: 100000;
	span{
		display: block;
	}
	.at{
		background-color: #000;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		color: #fff;
		font-size: 17px;
		letter-spacing: 3px;
		padding: 12px 25px;
		text-transform: uppercase;
	}
	.row{
		padding: 12px 15px;
		.head{
			font-size: 12px;
		    font-weight: 500;
		    letter-spacing: 2px;
		    padding-bottom: 3px;
		    text-transform: uppercase;
		}
		.num{
			font-size: 24px;
		    font-weight: 700;
		}
		&:last-child{
			padding-bottom: 0;
		}
	}
	.mass{
		color: $mass;
	}
	.guns{
		color: $pink;
	}
	.coffee{
		color: $green;
	}
	&:after{
		box-sizing:border-box;
		color:rgba(34, 34, 34, 0.9);
		content:"\25BC";
		display:inline;
		font-size:0.85rem;
		left:0;
		line-height:1;
		margin:0;
		position:absolute;
		text-align:center;
		top:99.5%;
		width:100%;
	}	
}
.toggle{
	display: inline-block;
	min-width: 90px;
	padding: 10px 5px;
	text-align: center;
	vertical-align: top;
	@media all and (min-width: 768px){
		min-width: 125px;
	    padding: 10px;
	    padding-left: 7%;		
	}
	span{
	    color: #fff;
	    display: block;
	    font-size: 10px;
	    font-weight: 100;
	    letter-spacing: 0px;
	    padding-bottom: 5px;
	    text-transform: uppercase;
	    @media all and (min-width: 768px){
	    	letter-spacing: 2px;
	    	padding-bottom: 15px;
	    }	
	}
	.btn{
	    display: inline-block;
	    position: relative;
	    cursor: pointer;
	    outline: none;
	    padding: 2px;
	    width: 60px;
	    height: 30px;
	    -webkit-border-radius: 60px;
	    -moz-border-radius: 60px;
	    -ms-border-radius: 60px;
	    -o-border-radius: 60px;
	    border-radius: 60px;
	    -webkit-transition: background 0.4s;
	    -moz-transition: background 0.4s;
	    -o-transition: background 0.4s;
	    transition: background 0.4s;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    vertical-align: middle;
	    &:before {
		    top: 2px;
		    left: 2px;
		    bottom: 2px;
		    right: 2px;
		    background-color: #fff;
		    -webkit-border-radius: 60px;
		    -moz-border-radius: 60px;
		    -ms-border-radius: 60px;
		    -o-border-radius: 60px;
		    border-radius: 60px;
		    -webkit-transition: background 0.4s;
		    -moz-transition: background 0.4s;
		    -o-transition: background 0.4s;
		    transition: background 0.4s;
		}
		&:after, &:before {
		    display: block;
		    position: absolute;
		    content: "";
		}
		&:after {
		    top: 4px;
		    left: 4px;
		    bottom: 4px;
		    width: 23px;
		    background-color: #dddddd;
		    -webkit-border-radius: 52px;
		    -moz-border-radius: 52px;
		    -ms-border-radius: 52px;
		    -o-border-radius: 52px;
		    border-radius: 52px;
		    -webkit-transition: margin 0.4s, background 0.4s;
		    -moz-transition: margin 0.4s, background 0.4s;
		    -o-transition: margin 0.4s, background 0.4s;
		    transition: margin 0.4s, background 0.4s;
		}

			background-color: $pink;
			&:after{
				background-color: darken($pink, 5%);
			}

	}	
}
#map, #mapLayered{
	min-height: 520px;
	@media all and (min-width: 768px){
		min-height: 768px;
	}		
}
#map {
	height: 100vh;
	width: 100%;
	.label {
	    border: 3px solid #999;
	    -webkit-border-radius: 100%;
	    @include border-radius(100%);
	    @include animate(pulsate, 2s, 0, infinite, ease-out);
	    height: 280px;
	    width: 280px;
	    margin-left: -140px!important;
	    margin-top: -140px!important;	    
	    position: absolute;
	    left:20px;
	    top:214px;
	    opacity: 0.1;
	    &:after{
	    	background-color: rgba(#999, 0.5);
	    	content: '';
	    	display: block;
	    	position: absolute;
	    	left: 50%;
	    	top: 50%;
	    	margin-top: -25px;
	    	margin-left: -25px;
	    	width: 50px;
	    	height: 50px;
	    	border-radius: 100%;
	    	@include animate(grower, 2s, 0, infinite, ease-out);
	    }
	}
}
#mapLayered {
	height: 100vh;
	width: 100%;
	.btns{
		bottom: 2px;
		left: 7px;
		position: absolute;
		right: initial;
		top: initial;
		z-index: 1000;
		@media all and (min-width: 768px){
			bottom: initial;
			left: initial;
			right: 20px;
			top: 120px;			
		}
		.btn{
			cursor: pointer;
			display: inline-block;
			font-size: 11px;
			padding: 5px 10px;
			text-transform: uppercase;
			@include offbtn;
			@media all and (min-width: 768px){
				letter-spacing: 3px;
			}
			&.coffee{
				border-bottom-right-radius: 6px;
				border-top-right-radius: 6px;
			}
			&.guns{
				border-bottom-left-radius: 6px;
				border-top-left-radius: 6px;
			}
		}
	}
	div.leaflet-layer{
		@include transition(opacity 0.75s);
		&.coffee{
			opacity: 0;
		}
		&.guns{
			opacity: 0;
		}		
	}
	div.leaflet-overlay-pane{
		opacity: 0;
		@include transition(opacity 0.75s);
	}
	&.guns{
		div.leaflet-layer{
			&.guns{
				opacity: 1;
				@include transition(opacity 0.75s);
			}
		}
		div.btn.guns{
  			background-color: $pink;
			border: 1px solid $pink;
			@include activebtn;
		}
	}
	&.coffee{
		div.leaflet-layer{
			&.coffee{
				opacity: 1;
				@include transition(opacity 0.75s);
			}
		}
		div.btn.coffee{
  			background-color: $green;
			border: 1px solid $green;
			@include activebtn;
		}
	}
	&.mass{
		div.leaflet-overlay-pane{
			opacity: 1;
			@include transition(opacity 0.75s);
		}
		div.btn.mass{
  			background-color: $mass;
			border: 1px solid $mass;
			@include activebtn;
		}
	}	
	svg{
		circle{
			cursor: pointer;
			fill: rgba($mass,0.77);
			stroke: rgba($mass,0.77);
			stroke-width: 0;
			@include transition(all 0.25s);
			&:hover{
				fill: rgba($mass,0.9);
				stroke: rgba($mass,0.9);
				stroke-width: 4;
				@include transition(all 0.25s);
			}
		}
	}
}
.vertCent{
	display: inline-block;
	vertical-align: middle;
	width: 95%;
}
.initiate{
	nav{
		padding-left: 0;
	}
	.search{
		background-color: #000;
		min-height: 520px;
		position: absolute;
		text-align: center;
		width: 100%;
		z-index: 10000;
		@media all and (min-width: 768px){
			min-height: 768px;
		}
		h2{
			font-size: 30px;
			letter-spacing: 3px;
			margin-bottom: 40px;
			text-align: center;
			@media all and (min-width: 1000px){
				font-size: 60px;
			}
			.icon{
			    display: none;
				@media all and (min-width: 768px){
			    	display: inline-block;
				}
			}		
		}
		h6{
			color: #eee;
			display: block;
			font-size: 14px;
			letter-spacing: 4px;
			margin-bottom: 40px;
			text-align: center;
			text-transform: uppercase;
			@media all and (min-width: 768px){
				margin-bottom: 80px;
			}
			@media all and (min-width: 1000px){
				font-size: 20px;
				margin-bottom: 160px;
			}
			span{
				@include animation-fill-mode(forwards);
				display: block;
				opacity: 0;
				padding-bottom: 15px;
				&:nth-child(1){
					@include animate(fadeIn, 1s, 0, 1, linear);
				}
				&:nth-child(2){
					@include animate(fadeIn, 1s, 2s, 1, linear);
				}
				&:nth-child(3){
					@include animate(fadeIn, 1s, 4s, 1, linear);
				}
				&:nth-child(4){
					@include animate(fadeIn, 1s, 6s, 1, linear);
				}
			}
		}
		.plus{
			display: inline-block;
			padding: 0 30px;
		}
		.input, .btn{
			@include animation-fill-mode(forwards);
			@include animate(fadeIn, 1s, 7s, 1, linear);
			font-size: 20px;
			line-height: 2;
			opacity: 0;
			width: 100%;
		}
		.input{
			border-bottom: 2px solid $home;
			display: block;
			font-size: 16px;
			margin: 0 auto 40px;
			max-width: 992px;
			padding: 11px 10px;
		}
		.btn{
			border-radius: 6px;
			display: block;
			font-size: 23px;
			letter-spacing: 2.5px;
			line-height: 1;
			margin: 0 auto;
			max-width: 185px;
			padding: 11px 0;
			&:hover{
				letter-spacing: 7.5px;
			}
		}
		&:before{
			content: '';
			display: inline-block;
			height: 100vh;
			vertical-align: middle;
			width: 1%;
			@media all and (min-width: 1000px){

			}
		}
	}
}
nav{
	background-color: rgba(#000, 0.95);
	// font-family: $rb;
	padding: 0 10px;
	position: relative;
	z-index: 10000;
	@media all and (min-width: 768px){
		padding: 0 30px;
	}
	&.active{
		.toggle{
			.btn{
				background-color: $green;
				&:after{
					background-color: darken($green, 5%);
			    	margin-left: 30px;
				}				
			}
		}
		h4.city{
			display: inline-block!important;
		}
		h4.us{
			display: none!important;
		}		
	}	
	.search{
		display: inline-block;
		padding: 10px;
		text-align: left;
		vertical-align: middle;
		width: 100%;
		@media all and (min-width: 768px){
			width: 40%;
		}
		h2{
			color: $home;
			font-size: 21px;
			font-weight: 700;
			letter-spacing: 6.3px;
			margin-bottom: 10px;
			text-align: left;
			text-transform: uppercase;
			.fire, .frap{
			    display: inline-block;
			}
			.fire{
				color: $pink;
			}
			.frap{
				color: $green;
			}
			.icon{
				display: none;
				width: 100%;
				svg{
					max-height: 50px;
				}
			}
		}
		h6{
			display: none;
		}
		.input{
			background-color: transparent;
			border: none;
			border-bottom: 1px solid $home;
			color: #fff;
			display: inline-block;
			font-weight: 500;
			letter-spacing: 2px;
			line-height: 2;
			margin: 0;
			max-width: 317px;
			outline: none;
			padding: 2px 10px;
			text-align: center;
			text-transform: uppercase;
			width: 73%;
			@media all and (min-width: 768px){
				margin: 0 10px 10px 0;
			}
		}
		.btn{
			background-color: #fff;
			border-radius: 6px;
			border: 2px solid #fff;
			color: $pink;
			cursor: pointer;
			display: inline-block;
			font-weight: 700;
			letter-spacing: 2px;
			margin-left: -4px;
			max-width: 100px;
			outline: none;
			padding: 4.5px 0;
			text-transform: uppercase;
			@include appearance(none);
			width: 23%;
			@include transition(all 0.25s);
			&:hover{
				letter-spacing: 3px;
				@include transition(all 0.25s);
			}
		}
	}
	aside{
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		width: 100%;
		@media all and (min-width: 768px){
			text-align: right;
			width: 55%;
		}
		h4{
			display: inline-block;
			padding: 10px 5px;
			text-align: center;
			@media all and (min-width: 768px){
				padding: 10px 5%;	
			}
			&.city{
				display: none;
			}
			span{
				display: block;
			}
			&.starTot{
				color: $green;
			}
			&.gunTot{
				color: $pink;
			}
			.head{
				font-size: 10px;
				font-weight: 400;
				letter-spacing: 1px;
				padding-bottom: 5px;
				text-transform: uppercase;
				@media all and (min-width: 768px){
					font-size: 14px;
					letter-spacing: 3px;
					padding-bottom: 15px;
				}
			}
			.num{
				font-size: 25px;
				font-weight: 700;
				@media all and (min-width: 768px){
					font-size: 45px;
				}
			}
		}
	}
}
