/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* required styles */
/* line 3, ../sass/_leaflet.scss */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 22, ../sass/_leaflet.scss */
.leaflet-container {
  overflow: hidden;
  -ms-touch-action: none;
}

/* line 26, ../sass/_leaflet.scss */
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

/* line 34, ../sass/_leaflet.scss */
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}

/* map is broken in FF if you have max-width: 100% on tiles */
/* line 39, ../sass/_leaflet.scss */
.leaflet-container img {
  max-width: none !important;
}

/* stupid Android 2 doesn't understand "max-width: none" properly */
/* line 43, ../sass/_leaflet.scss */
.leaflet-container img.leaflet-image-layer {
  max-width: 15000px !important;
}

/* line 46, ../sass/_leaflet.scss */
.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

/* line 50, ../sass/_leaflet.scss */
.leaflet-tile-loaded {
  visibility: inherit;
}

/* line 53, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  width: 0;
  height: 0;
}

/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
/* line 58, ../sass/_leaflet.scss */
.leaflet-overlay-pane svg {
  -moz-user-select: none;
}

/* line 62, ../sass/_leaflet.scss */
.leaflet-tile-pane {
  z-index: 2;
}

/* line 63, ../sass/_leaflet.scss */
.leaflet-objects-pane {
  z-index: 3;
}

/* line 64, ../sass/_leaflet.scss */
.leaflet-overlay-pane {
  z-index: 4;
}

/* line 65, ../sass/_leaflet.scss */
.leaflet-shadow-pane {
  z-index: 5;
}

/* line 66, ../sass/_leaflet.scss */
.leaflet-marker-pane {
  z-index: 6;
}

/* line 67, ../sass/_leaflet.scss */
.leaflet-popup-pane {
  z-index: 7;
}

/* line 69, ../sass/_leaflet.scss */
.leaflet-vml-shape {
  width: 1px;
  height: 1px;
}

/* line 73, ../sass/_leaflet.scss */
.lvml {
  behavior: url(#default#VML);
  display: inline-block;
  position: absolute;
}

/* control positioning */
/* line 82, ../sass/_leaflet.scss */
.leaflet-control {
  position: relative;
  z-index: 7;
  pointer-events: auto;
}

/* line 87, ../sass/_leaflet.scss */
.leaflet-top,
.leaflet-bottom {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
}

/* line 93, ../sass/_leaflet.scss */
.leaflet-top {
  top: 0;
}

/* line 96, ../sass/_leaflet.scss */
.leaflet-right {
  right: 0;
}

/* line 99, ../sass/_leaflet.scss */
.leaflet-bottom {
  bottom: 0;
}

/* line 102, ../sass/_leaflet.scss */
.leaflet-left {
  left: 0;
}

/* line 105, ../sass/_leaflet.scss */
.leaflet-control {
  float: left;
  clear: both;
}

/* line 109, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  float: right;
}

/* line 112, ../sass/_leaflet.scss */
.leaflet-top .leaflet-control {
  margin-top: 10px;
}

/* line 115, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control {
  margin-bottom: 10px;
}

/* line 118, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control {
  margin-left: 10px;
}

/* line 121, ../sass/_leaflet.scss */
.leaflet-right .leaflet-control {
  margin-right: 10px;
}

/* zoom and fade animations */
/* line 128, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 136, ../sass/_leaflet.scss */
.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  opacity: 1;
}

/* line 141, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

/* line 147, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

/* line 156, ../sass/_leaflet.scss */
.leaflet-zoom-anim .leaflet-zoom-hide {
  visibility: hidden;
}

/* cursors */
/* line 163, ../sass/_leaflet.scss */
.leaflet-clickable {
  cursor: pointer;
}

/* line 166, ../sass/_leaflet.scss */
.leaflet-container {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* line 170, ../sass/_leaflet.scss */
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
}

/* line 174, ../sass/_leaflet.scss */
.leaflet-dragging .leaflet-container,
.leaflet-dragging .leaflet-clickable {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}

/* visual tweaks */
/* line 184, ../sass/_leaflet.scss */
.leaflet-container {
  background: #f0fcff;
  outline: 0;
}

/* line 188, ../sass/_leaflet.scss */
.leaflet-container a {
  color: #0078A8;
}

/* line 191, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
}

/* line 194, ../sass/_leaflet.scss */
.leaflet-zoom-box {
  border: 2px dotted #38f;
  background: rgba(255, 255, 255, 0.5);
}

/* general typography */
/* line 201, ../sass/_leaflet.scss */
.leaflet-container {
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* general toolbar styles */
/* line 208, ../sass/_leaflet.scss */
.leaflet-bar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

/* line 212, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 224, ../sass/_leaflet.scss */
.leaflet-bar a,
.leaflet-control-layers-toggle {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
}

/* line 230, ../sass/_leaflet.scss */
.leaflet-bar a:hover {
  background-color: #f4f4f4;
}

/* line 233, ../sass/_leaflet.scss */
.leaflet-bar a:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 237, ../sass/_leaflet.scss */
.leaflet-bar a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom: none;
}

/* line 242, ../sass/_leaflet.scss */
.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
}

/* line 248, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* zoom control */
/* line 257, ../sass/_leaflet.scss */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  text-indent: 1px;
}

/* line 262, ../sass/_leaflet.scss */
.leaflet-control-zoom-out {
  font-size: 20px;
}

/* line 266, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
}

/* line 269, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 24px;
}

/* layers control */
/* line 276, ../sass/_leaflet.scss */
.leaflet-control-layers {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  border-radius: 5px;
}

/* line 281, ../sass/_leaflet.scss */
.leaflet-control-layers-toggle {
  background-image: url(images/layers.png);
  width: 36px;
  height: 36px;
}

/* line 286, ../sass/_leaflet.scss */
.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url(images/layers-2x.png);
  background-size: 26px 26px;
}

/* line 290, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers-toggle {
  width: 44px;
  height: 44px;
}

/* line 294, ../sass/_leaflet.scss */
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display: none;
}

/* line 298, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display: block;
  position: relative;
}

/* line 302, ../sass/_leaflet.scss */
.leaflet-control-layers-expanded {
  padding: 6px 10px 6px 6px;
  color: #333;
  background: #fff;
}

/* line 307, ../sass/_leaflet.scss */
.leaflet-control-layers-selector {
  margin-top: 2px;
  position: relative;
  top: 1px;
}

/* line 312, ../sass/_leaflet.scss */
.leaflet-control-layers label {
  display: block;
}

/* line 315, ../sass/_leaflet.scss */
.leaflet-control-layers-separator {
  height: 0;
  border-top: 1px solid #ddd;
  margin: 5px -10px 5px -6px;
}

/* attribution and scale controls */
/* line 324, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution {
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}

/* line 329, ../sass/_leaflet.scss */
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
}

/* line 334, ../sass/_leaflet.scss */
.leaflet-control-attribution a {
  text-decoration: none;
}

/* line 337, ../sass/_leaflet.scss */
.leaflet-control-attribution a:hover {
  text-decoration: underline;
}

/* line 340, ../sass/_leaflet.scss */
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
}

/* line 344, ../sass/_leaflet.scss */
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
}

/* line 347, ../sass/_leaflet.scss */
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
}

/* line 350, ../sass/_leaflet.scss */
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
}

/* line 364, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child) {
  border-top: 2px solid #777;
  border-bottom: none;
  margin-top: -2px;
}

/* line 369, ../sass/_leaflet.scss */
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
}

/* line 373, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow: none;
}

/* line 378, ../sass/_leaflet.scss */
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

/* popup */
/* line 387, ../sass/_leaflet.scss */
.leaflet-popup {
  position: absolute;
  text-align: center;
}

/* line 391, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 12px;
}

/* line 396, ../sass/_leaflet.scss */
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
}

/* line 400, ../sass/_leaflet.scss */
.leaflet-popup-content p {
  margin: 18px 0;
}

/* line 403, ../sass/_leaflet.scss */
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}

/* line 410, ../sass/_leaflet.scss */
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 423, ../sass/_leaflet.scss */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: white;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
}

/* line 429, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  background: transparent;
}

/* line 443, ../sass/_leaflet.scss */
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
}

/* line 446, ../sass/_leaflet.scss */
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* line 452, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-content-wrapper {
  zoom: 1;
}

/* line 455, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip {
  width: 24px;
  margin: 0 auto;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
}

/* line 462, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-popup-tip-container {
  margin-top: -1px;
}

/* line 466, ../sass/_leaflet.scss */
.leaflet-oldie .leaflet-control-zoom,
.leaflet-oldie .leaflet-control-layers,
.leaflet-oldie .leaflet-popup-content-wrapper,
.leaflet-oldie .leaflet-popup-tip {
  border: 1px solid #999;
}

/* div icon */
/* line 476, ../sass/_leaflet.scss */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
}

/* line 481, ../sass/_leaflet.scss */
.fullscreen-icon {
  background-image: url(../img/icon-fullscreen.png);
}

/* line 482, ../sass/_leaflet.scss */
.leaflet-retina .fullscreen-icon {
  background-image: url(../img/icon-fullscreen.png);
  background-size: 26px 26px;
}

/* line 483, ../sass/_leaflet.scss */
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}

/* line 484, ../sass/_leaflet.scss */
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 99999;
}

/* ANIMATIONS */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@-moz-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@-webkit-keyframes grower {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@-moz-keyframes grower {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@keyframes grower {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.1;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.1;
  }
}
@-webkit-keyframes slidetop {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@-moz-keyframes slidetop {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes slidetop {
  0% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@-webkit-keyframes slidebottom {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-moz-keyframes slidebottom {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@keyframes slidebottom {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@font-face {
  font-family: 'robotoblack';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto-black-webfont.woff") format("woff"), url("../fonts/roboto-black-webfont.ttf") format("truetype"), url("../fonts/roboto-black-webfont.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 28, ../sass/screen.scss */
html, body {
  font-family: 'Roboto','sans-serif';
  height: 100vh;
  margin: 0;
  max-width: 100%;
  min-height: 520px;
  overflow: scroll;
  padding: 0;
}
@media all and (min-width: 768px) {
  /* line 28, ../sass/screen.scss */
  html, body {
    min-height: 768px;
  }
}

@media all and (max-width: 768px) {
  /* line 42, ../sass/screen.scss */
  body:before {
    content: '';
    display: block;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 50px;
    z-index: 9999;
  }
}

/* line 54, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 58, ../sass/screen.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  padding: 5px 10px;
  z-index: 9999;
}
/* line 67, ../sass/screen.scss */
footer.active {
  z-index: 10000;
}
/* line 69, ../sass/screen.scss */
footer.active article {
  opacity: 1;
  pointer-events: initial;
  z-index: 1;
}
/* line 74, ../sass/screen.scss */
footer.active #why {
  z-index: 2;
}
/* line 78, ../sass/screen.scss */
footer section {
  display: inline-block;
  vertical-align: middle;
}
/* line 81, ../sass/screen.scss */
footer section #why {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.25;
  position: relative;
  text-decoration: underline;
}
/* line 91, ../sass/screen.scss */
footer section .contain {
  display: inline-block;
  max-height: 95vh;
  max-width: 1000px;
  overflow-y: scroll;
  vertical-align: middle;
  width: 80%;
}
/* line 99, ../sass/screen.scss */
footer section article {
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  color: #fff;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -1;
}
/* line 111, ../sass/screen.scss */
footer section article:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}
/* line 118, ../sass/screen.scss */
footer section article h3 {
  color: #C81A75;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 125, ../sass/screen.scss */
footer section article p {
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 15px;
}

/* line 133, ../sass/screen.scss */
#opot-logo {
  display: inline-block;
  height: 30px;
  width: 100px;
  vertical-align: middle;
}
/* line 139, ../sass/screen.scss */
#opot-logo:hover path {
  stroke: #fff;
  stroke-width: 2;
  -moz-transition: stroke 0.2s, stroke-width 0.2s;
  -o-transition: stroke 0.2s, stroke-width 0.2s;
  -webkit-transition: stroke 0.2s, stroke-width 0.2s;
  transition: stroke 0.2s, stroke-width 0.2s;
}
/* line 145, ../sass/screen.scss */
#opot-logo path {
  stroke: rgba(250, 250, 250, 0);
  stroke-width: 0;
  -moz-transition: stroke 0.2s, stroke-width 0.2s;
  -o-transition: stroke 0.2s, stroke-width 0.2s;
  -webkit-transition: stroke 0.2s, stroke-width 0.2s;
  transition: stroke 0.2s, stroke-width 0.2s;
}
/* line 157, ../sass/screen.scss */
#opot-logo .q0, #opot-logo .q1, #opot-logo .q2, #opot-logo .q3, #opot-logo .q4, #opot-logo .q5, #opot-logo .q6 {
  transition: fill 1s;
}
/* line 160, ../sass/screen.scss */
#opot-logo .q0 {
  fill: #6B083F;
}
/* line 163, ../sass/screen.scss */
#opot-logo .q1 {
  fill: #DC177A;
}
/* line 166, ../sass/screen.scss */
#opot-logo .q2 {
  fill: #D01160;
}
/* line 169, ../sass/screen.scss */
#opot-logo .q3 {
  fill: #9B0B4D;
}
/* line 172, ../sass/screen.scss */
#opot-logo .q4 {
  fill: #C20F5C;
}
/* line 175, ../sass/screen.scss */
#opot-logo .q5 {
  fill: #7D0A44;
}
/* line 178, ../sass/screen.scss */
#opot-logo .q6 {
  fill: #df167a;
}
/* line 182, ../sass/screen.scss */
#opot-logo #backnum path {
  fill: #63213F;
  -moz-transition: fill 0.75s;
  -o-transition: fill 0.75s;
  -webkit-transition: fill 0.75s;
  transition: fill 0.75s;
}
/* line 186, ../sass/screen.scss */
#opot-logo #backnum .bright {
  fill: #FF85BD;
  -moz-transition: fill 0.75s;
  -o-transition: fill 0.75s;
  -webkit-transition: fill 0.75s;
  transition: fill 0.75s;
}

/* line 192, ../sass/screen.scss */
.slide {
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slidetop;
  animation-name: slidetop;
}
/* line 201, ../sass/screen.scss */
.slide.active {
  opacity: 1;
  z-index: 1;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: slidebottom;
  animation-name: slidebottom;
}

/* line 207, ../sass/screen.scss */
.d3-tip {
  background-color: rgba(34, 34, 34, 0.9);
  border-radius: 6px;
  display: inline-block;
  margin-top: -15px;
  padding: 0 0 15px;
  text-align: center;
  z-index: 100000;
}
/* line 215, ../sass/screen.scss */
.d3-tip span {
  display: block;
}
/* line 218, ../sass/screen.scss */
.d3-tip .at {
  background-color: #000;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #fff;
  font-size: 17px;
  letter-spacing: 3px;
  padding: 12px 25px;
  text-transform: uppercase;
}
/* line 228, ../sass/screen.scss */
.d3-tip .row {
  padding: 12px 15px;
}
/* line 230, ../sass/screen.scss */
.d3-tip .row .head {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  padding-bottom: 3px;
  text-transform: uppercase;
}
/* line 237, ../sass/screen.scss */
.d3-tip .row .num {
  font-size: 24px;
  font-weight: 700;
}
/* line 241, ../sass/screen.scss */
.d3-tip .row:last-child {
  padding-bottom: 0;
}
/* line 245, ../sass/screen.scss */
.d3-tip .mass {
  color: #eaad48;
}
/* line 248, ../sass/screen.scss */
.d3-tip .guns {
  color: #C81A75;
}
/* line 251, ../sass/screen.scss */
.d3-tip .coffee {
  color: #1EA462;
}
/* line 254, ../sass/screen.scss */
.d3-tip:after {
  box-sizing: border-box;
  color: rgba(34, 34, 34, 0.9);
  content: "\25BC";
  display: inline;
  font-size: 0.85rem;
  left: 0;
  line-height: 1;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 99.5%;
  width: 100%;
}

/* line 269, ../sass/screen.scss */
.toggle {
  display: inline-block;
  min-width: 90px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
}
@media all and (min-width: 768px) {
  /* line 269, ../sass/screen.scss */
  .toggle {
    min-width: 125px;
    padding: 10px;
    padding-left: 7%;
  }
}
/* line 280, ../sass/screen.scss */
.toggle span {
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 0px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  /* line 280, ../sass/screen.scss */
  .toggle span {
    letter-spacing: 2px;
    padding-bottom: 15px;
  }
}
/* line 293, ../sass/screen.scss */
.toggle .btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 2px;
  width: 60px;
  height: 30px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  background-color: #C81A75;
}
/* line 315, ../sass/screen.scss */
.toggle .btn:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
/* line 331, ../sass/screen.scss */
.toggle .btn:after, .toggle .btn:before {
  display: block;
  position: absolute;
  content: "";
}
/* line 336, ../sass/screen.scss */
.toggle .btn:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 23px;
  background-color: #dddddd;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
/* line 354, ../sass/screen.scss */
.toggle .btn:after {
  background-color: #b11768;
}

/* line 360, ../sass/screen.scss */
#map, #mapLayered {
  min-height: 520px;
}
@media all and (min-width: 768px) {
  /* line 360, ../sass/screen.scss */
  #map, #mapLayered {
    min-height: 768px;
  }
}

/* line 366, ../sass/screen.scss */
#map {
  height: 100vh;
  width: 100%;
}
/* line 369, ../sass/screen.scss */
#map .label {
  border: 3px solid #999;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulsate;
  animation-name: pulsate;
  height: 280px;
  width: 280px;
  margin-left: -140px !important;
  margin-top: -140px !important;
  position: absolute;
  left: 20px;
  top: 214px;
  opacity: 0.1;
}
/* line 382, ../sass/screen.scss */
#map .label:after {
  background-color: rgba(153, 153, 153, 0.5);
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: grower;
  animation-name: grower;
}

/* line 398, ../sass/screen.scss */
#mapLayered {
  height: 100vh;
  width: 100%;
}
/* line 401, ../sass/screen.scss */
#mapLayered .btns {
  bottom: 2px;
  left: 7px;
  position: absolute;
  right: initial;
  top: initial;
  z-index: 1000;
}
@media all and (min-width: 768px) {
  /* line 401, ../sass/screen.scss */
  #mapLayered .btns {
    bottom: initial;
    left: initial;
    right: 20px;
    top: 120px;
  }
}
/* line 414, ../sass/screen.scss */
#mapLayered .btns .btn {
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: rgba(196, 196, 196, 0.5);
  border: 1px solid rgba(139, 139, 139, 0.75);
  color: rgba(139, 139, 139, 0.75);
}
@media all and (min-width: 768px) {
  /* line 414, ../sass/screen.scss */
  #mapLayered .btns .btn {
    letter-spacing: 3px;
  }
}
/* line 424, ../sass/screen.scss */
#mapLayered .btns .btn.coffee {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 428, ../sass/screen.scss */
#mapLayered .btns .btn.guns {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
/* line 434, ../sass/screen.scss */
#mapLayered div.leaflet-layer {
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
/* line 436, ../sass/screen.scss */
#mapLayered div.leaflet-layer.coffee {
  opacity: 0;
}
/* line 439, ../sass/screen.scss */
#mapLayered div.leaflet-layer.guns {
  opacity: 0;
}
/* line 443, ../sass/screen.scss */
#mapLayered div.leaflet-overlay-pane {
  opacity: 0;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
/* line 449, ../sass/screen.scss */
#mapLayered.guns div.leaflet-layer.guns {
  opacity: 1;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
/* line 454, ../sass/screen.scss */
#mapLayered.guns div.btn.guns {
  background-color: #C81A75;
  border: 1px solid #C81A75;
  color: #fff;
}
/* line 462, ../sass/screen.scss */
#mapLayered.coffee div.leaflet-layer.coffee {
  opacity: 1;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
/* line 467, ../sass/screen.scss */
#mapLayered.coffee div.btn.coffee {
  background-color: #1EA462;
  border: 1px solid #1EA462;
  color: #fff;
}
/* line 474, ../sass/screen.scss */
#mapLayered.mass div.leaflet-overlay-pane {
  opacity: 1;
  -moz-transition: opacity 0.75s;
  -o-transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s;
  transition: opacity 0.75s;
}
/* line 478, ../sass/screen.scss */
#mapLayered.mass div.btn.mass {
  background-color: #eaad48;
  border: 1px solid #eaad48;
  color: #fff;
}
/* line 485, ../sass/screen.scss */
#mapLayered svg circle {
  cursor: pointer;
  fill: rgba(234, 173, 72, 0.77);
  stroke: rgba(234, 173, 72, 0.77);
  stroke-width: 0;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 491, ../sass/screen.scss */
#mapLayered svg circle:hover {
  fill: rgba(234, 173, 72, 0.9);
  stroke: rgba(234, 173, 72, 0.9);
  stroke-width: 4;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

/* line 500, ../sass/screen.scss */
.vertCent {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}

/* line 506, ../sass/screen.scss */
.initiate nav {
  padding-left: 0;
}
/* line 509, ../sass/screen.scss */
.initiate .search {
  background-color: #000;
  min-height: 520px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 10000;
}
@media all and (min-width: 768px) {
  /* line 509, ../sass/screen.scss */
  .initiate .search {
    min-height: 768px;
  }
}
/* line 519, ../sass/screen.scss */
.initiate .search h2 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 40px;
  text-align: center;
}
@media all and (min-width: 1000px) {
  /* line 519, ../sass/screen.scss */
  .initiate .search h2 {
    font-size: 60px;
  }
}
/* line 527, ../sass/screen.scss */
.initiate .search h2 .icon {
  display: none;
}
@media all and (min-width: 768px) {
  /* line 527, ../sass/screen.scss */
  .initiate .search h2 .icon {
    display: inline-block;
  }
}
/* line 534, ../sass/screen.scss */
.initiate .search h6 {
  color: #eee;
  display: block;
  font-size: 14px;
  letter-spacing: 4px;
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  /* line 534, ../sass/screen.scss */
  .initiate .search h6 {
    margin-bottom: 80px;
  }
}
@media all and (min-width: 1000px) {
  /* line 534, ../sass/screen.scss */
  .initiate .search h6 {
    font-size: 20px;
    margin-bottom: 160px;
  }
}
/* line 549, ../sass/screen.scss */
.initiate .search h6 span {
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  display: block;
  opacity: 0;
  padding-bottom: 15px;
}
/* line 554, ../sass/screen.scss */
.initiate .search h6 span:nth-child(1) {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 557, ../sass/screen.scss */
.initiate .search h6 span:nth-child(2) {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 560, ../sass/screen.scss */
.initiate .search h6 span:nth-child(3) {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 563, ../sass/screen.scss */
.initiate .search h6 span:nth-child(4) {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
/* line 568, ../sass/screen.scss */
.initiate .search .plus {
  display: inline-block;
  padding: 0 30px;
}
/* line 572, ../sass/screen.scss */
.initiate .search .input, .initiate .search .btn {
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  font-size: 20px;
  line-height: 2;
  opacity: 0;
  width: 100%;
}
/* line 580, ../sass/screen.scss */
.initiate .search .input {
  border-bottom: 2px solid #484848;
  display: block;
  font-size: 16px;
  margin: 0 auto 40px;
  max-width: 992px;
  padding: 11px 10px;
}
/* line 588, ../sass/screen.scss */
.initiate .search .btn {
  border-radius: 6px;
  display: block;
  font-size: 23px;
  letter-spacing: 2.5px;
  line-height: 1;
  margin: 0 auto;
  max-width: 185px;
  padding: 11px 0;
}
/* line 597, ../sass/screen.scss */
.initiate .search .btn:hover {
  letter-spacing: 7.5px;
}
/* line 601, ../sass/screen.scss */
.initiate .search:before {
  content: '';
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  width: 1%;
}

/* line 613, ../sass/screen.scss */
nav {
  background-color: rgba(0, 0, 0, 0.95);
  padding: 0 10px;
  position: relative;
  z-index: 10000;
}
@media all and (min-width: 768px) {
  /* line 613, ../sass/screen.scss */
  nav {
    padding: 0 30px;
  }
}
/* line 624, ../sass/screen.scss */
nav.active .toggle .btn {
  background-color: #1EA462;
}
/* line 626, ../sass/screen.scss */
nav.active .toggle .btn:after {
  background-color: #1a8e55;
  margin-left: 30px;
}
/* line 632, ../sass/screen.scss */
nav.active h4.city {
  display: inline-block !important;
}
/* line 635, ../sass/screen.scss */
nav.active h4.us {
  display: none !important;
}
/* line 639, ../sass/screen.scss */
nav .search {
  display: inline-block;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}
@media all and (min-width: 768px) {
  /* line 639, ../sass/screen.scss */
  nav .search {
    width: 40%;
  }
}
/* line 648, ../sass/screen.scss */
nav .search h2 {
  color: #484848;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 6.3px;
  margin-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}
/* line 656, ../sass/screen.scss */
nav .search h2 .fire, nav .search h2 .frap {
  display: inline-block;
}
/* line 659, ../sass/screen.scss */
nav .search h2 .fire {
  color: #C81A75;
}
/* line 662, ../sass/screen.scss */
nav .search h2 .frap {
  color: #1EA462;
}
/* line 665, ../sass/screen.scss */
nav .search h2 .icon {
  display: none;
  width: 100%;
}
/* line 668, ../sass/screen.scss */
nav .search h2 .icon svg {
  max-height: 50px;
}
/* line 673, ../sass/screen.scss */
nav .search h6 {
  display: none;
}
/* line 676, ../sass/screen.scss */
nav .search .input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #484848;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 2;
  margin: 0;
  max-width: 317px;
  outline: none;
  padding: 2px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 73%;
}
@media all and (min-width: 768px) {
  /* line 676, ../sass/screen.scss */
  nav .search .input {
    margin: 0 10px 10px 0;
  }
}
/* line 696, ../sass/screen.scss */
nav .search .btn {
  background-color: #fff;
  border-radius: 6px;
  border: 2px solid #fff;
  color: #C81A75;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: -4px;
  max-width: 100px;
  outline: none;
  padding: 4.5px 0;
  text-transform: uppercase;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 23%;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 713, ../sass/screen.scss */
nav .search .btn:hover {
  letter-spacing: 3px;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 719, ../sass/screen.scss */
nav aside {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
@media all and (min-width: 768px) {
  /* line 719, ../sass/screen.scss */
  nav aside {
    text-align: right;
    width: 55%;
  }
}
/* line 728, ../sass/screen.scss */
nav aside h4 {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
}
@media all and (min-width: 768px) {
  /* line 728, ../sass/screen.scss */
  nav aside h4 {
    padding: 10px 5%;
  }
}
/* line 735, ../sass/screen.scss */
nav aside h4.city {
  display: none;
}
/* line 738, ../sass/screen.scss */
nav aside h4 span {
  display: block;
}
/* line 741, ../sass/screen.scss */
nav aside h4.starTot {
  color: #1EA462;
}
/* line 744, ../sass/screen.scss */
nav aside h4.gunTot {
  color: #C81A75;
}
/* line 747, ../sass/screen.scss */
nav aside h4 .head {
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
@media all and (min-width: 768px) {
  /* line 747, ../sass/screen.scss */
  nav aside h4 .head {
    font-size: 14px;
    letter-spacing: 3px;
    padding-bottom: 15px;
  }
}
/* line 759, ../sass/screen.scss */
nav aside h4 .num {
  font-size: 25px;
  font-weight: 700;
}
@media all and (min-width: 768px) {
  /* line 759, ../sass/screen.scss */
  nav aside h4 .num {
    font-size: 45px;
  }
}
